@page
@model Irimia_web.Pages.Servicii.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Serviciu</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Serviciu.Titlu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Serviciu.Titlu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Serviciu.Medic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Serviciu.Medic.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Serviciu.Pret)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Serviciu.Pret)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Serviciu?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
