@page
@model Irimia_web.Pages.Pacienti.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Pacient</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pacient.Prenume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pacient.Prenume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pacient.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pacient.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pacient.Localitate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pacient.Localitate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pacient.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pacient.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pacient.Telefon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pacient.Telefon)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Pacient.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
