@page
@model Irimia_web.Pages.Pacienti.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pacient</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pacient.Prenume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pacient.Prenume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pacient.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pacient.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pacient.Localitate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pacient.Localitate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pacient.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pacient.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pacient.Telefon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pacient.Telefon)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Pacient?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
