@page
@model Irimia_web.Pages.Pacienti.IndexModel

@{
    ViewData["Title"] = "Pacienți";
}

<h1>Pacienți</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pacient[0].Prenume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pacient[0].Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pacient[0].Localitate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pacient[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pacient[0].Telefon)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Pacient)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Prenume)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nume)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Localitate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefon)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
